{% schema %}
{
  "name": "Cookie Banner",
  "target": "body",
  "stylesheet": "banner.css",
  "javascript": "banner.js",
  "settings": []
}
{% endschema %}


<script>
  window.metizShop = "{{ shop.permanent_domain }}";
</script>
<div id="metiz-cookie-banner-container"></div>

